html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

header .photo {
  position: relative;
  width: 100%;
}

header .logo {
  position: absolute;
  top: 40px;
  left: 280px;
  width: 100%;
}

header .nav {
  width: 100%;
  height: 44px;
  background-color: #1476bd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .nav s {
  color: #d8e89f;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  margin-right: 20px;
}

header .nav span {
  font-size: 18px;
  color: #fff;
  line-height: 44px;
  padding: 0 25px;
  text-align: center;
  border-left: 1px solid #ccc;
}

header .search {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #3d5d7c;
  margin: 0;
}

header .search .city {
  float: left;
  width: 375px;
  height: 50px;
  background-color: #fff;
  margin-top: 30px;
}

header .search .city .iconfont {
  float: left;
  font-size: 25px;
  line-height: 50px;
  color: #4b8ecc;
  margin-left: 10px;
}

header .search .city span {
  line-height: 50px;
  color: #4b8ecc;
  font-size: 18px;
  margin-left: 10px;
}

header .search .city .right {
  float: right;
  width: 50px;
  height: 50px;
  border-left: 1px solid #ccc;
}

header .search .searcharea {
  position: absolute;
  top: 30px;
  left: 400px;
  width: 600px;
  height: 50px;
  background-color: #fff;
}

header .search .searcharea input {
  width: 470px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 14px;
  padding-left: 20px;
}

header .search .searcharea button {
  float: right;
  width: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  color: #fff;
  background-color: #63afed;
  border: none;
  font-size: 16px;
}

header .search .bottom {
  position: absolute;
  bottom: 30px;
  left: 0px;
}

header .search .bottom s {
  color: #afb6b3;
  font-size: 18px;
}

header .search .bottom span {
  color: #afb6b3;
  font-size: 18px;
  padding: 0 10px;
}

main {
  width: 100%;
}

main .header {
  width: 100%;
  height: 40px;
}

main .header span {
  font-size: 14px;
  line-height: 40px;
}

main .middle {
  position: relative;
  width: 100%;
  height: 460px;
}

main .middle .left {
  float: left;
  width: 550px;
}

main .middle .left .bottom {
  float: left;
}

main .middle .left .bottom .zuo {
  float: left;
  font-size: 30px;
  width: 50px;
  height: 87px;
  background-color: #478dcd;
  margin-right: 10px;
}

main .middle .left .bottom .zuo .iconfont {
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 87px;
}

main .middle .left .bottom .you {
  float: right;
  margin-left: 42px;
  font-size: 30px;
  width: 50px;
  height: 87px;
  background-color: #478dcd;
}

main .middle .left .bottom .you .iconfont {
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 87px;
}

main .middle .left .bottom img {
  width: 130px;
  height: 87px;
}

main .middle .right {
  position: absolute;
  top: 10px;
  right: 450px;
}

main .middle .right h1 {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
}

main .middle .right s {
  padding: 5px 0;
}

main .middle .right .price {
  width: 400px;
  height: 60px;
  background-color: #f2f6ff;
  margin-top: 10px;
}

main .middle .right .price span {
  padding-left: 10px;
  line-height: 60px;
  font-size: 16px;
}

main .middle .right .price span s {
  font-size: 30px;
  color: #ff6700;
}

main .middle .right .ziliao {
  padding: 20px 0;
}

main .middle .right .ziliao s {
  width: auto;
  border: 1px solid #ff6700;
  margin-left: 5px;
  background-color: #fef7f7;
}

main .bottom1 {
  width: 100%;
}

main .bottom1 .bottom1-top {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
}

main .bottom1 .bottom1-top .title {
  width: 150px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 3px solid #1476bd;
  border-right: 1px solid #ccc;
}

main .bottom1 .bottom1-top .title span {
  color: #63afed;
  font-size: 16px;
  margin-left: 42px;
}

main .bottom1 .bottom1-bottom {
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  line-height: 28px;
}

main .bottom1 .bottom1-bottom p {
  margin-left: 10px;
  font-size: 18px;
}

main .bottom1 .bottom1-bottom p s {
  float: left;
  color: #63afed;
}

footer {
  width: 100%;
  margin-top: 670px;
}

footer .footer {
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
  border-top: 3px solid #1476bd;
  text-align: center;
}

footer .footer span {
  font-size: 18px;
  color: #999;
  line-height: 30px;
}
/*# sourceMappingURL=index7.css.map */